* {
  padding: 0;
  justify-content: center;
}

h1 {
  display: flex;
  justify-items: center;
}

form {
  display: flex;
  justify-items: center;
  padding-right: 5px 10px;
}

input {
  margin-right: 10px;
  margin-left: 10px;
}
